@using FSD_FinancialPortal.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="login-container animated fadeInDown">
    <div class="loginbox bg-white">
        <div class="loginbox-title">SIGN IN</div>
        <div class="loginbox-social">
            @*<div class="social-title ">Connect with Your Social Accounts</div>
            <div class="social-buttons">
                <a href="" class="button-facebook">
                    <i class="social-icon fa fa-facebook"></i>
                </a>
                <a href="" class="button-twitter">
                    <i class="social-icon fa fa-windows"></i>
                </a>
                <a href="" class="button-google">
                    <i class="social-icon fa fa-google-plus"></i>
                </a>
            </div>*@
        </div>

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="loginbox-textbox">
                <input type="text" name="Email" class="form-control" placeholder="YourEmail@domain.com" />
            </div>
            <div class="loginbox-textbox">
                <input type="password" name="Password" class="form-control" placeholder="P@s$w0rd!" />
            </div>
            <div class="loginbox-forgot">
                <a href="@Url.Action("ForgotPassword","Account")">Forgot Password?</a>
            </div>
            <div class="loginbox-submit">
                <input type="submit" class="btn btn-primary btn-block" value="Log in">
            </div>
        }
        <div class="loginbox-signup">
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </div>
    </div>
</div>

